body{
    margin: 0;
    padding: 0;
    text-decoration:  none;
    font-family: 'Lexend';
}

@font-face {
    font-family: 'Lexend';
    src: url('/fonts/Lexend-VariableFont_wght.ttf') format('truetype');
    /* Add additional font variations as needed */
}

header{
    width: 100%;
    position: fixed;
    background-color: white;
    z-index: 3;
}
.nav{
    display: flex;
    justify-content: space-between;
    color: #785151;
}
.nav-bar{
    margin-left: -100px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.nav-bar li{
    color: #785151;
    padding-top: 5px;
    padding-left: 50px;
}   
#logo{
    padding-top: 10px;
    padding-left: 10vh;
    size: 50px;
}
.login{
    padding-right: 50px;
    padding-top: 18px;
}
#arrow{
    vertical-align: middle;
}

#eclipseLeft{
    z-index: -1;
    position: absolute;
}

.section1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.leftText{
    margin-top: -120px;
    width: 600px;
    margin-left: 80px;
}
#lt1{
    font-size: 50px;
    margin: 0px;
    color: #785151;
    font-weight: bold;
}
#lt2{
    font-size: 50px;
    margin: 0px;
    padding-bottom: 20px;
    font-weight: bold;
}
.descSect1{
    color: grey;
    font-weight: 300;
}
#kucing{
    margin-top: 0px;
}
#readMore{
    margin-top: 20px;
    padding: 15px;
    background-color: #785151;
    color: white;
    border: none;
    border-radius: 5px;
}
#aLight{
    width: 15px;
    margin-left: 5px;
    margin-top: -2px;
    vertical-align: middle;
}

.section2{
    text-align: center;
}
.aboutUs{
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-weight: bold;
}
#about{
    margin-right: 10px;
}
#us{
    color: #785151;
}
.descSect2{
    margin-top: -15px;
    margin-left: 20%;
    margin-right: 20%;
    font-weight: 300;
    color: grey;
}
hr.solid {
    border-top: 1px solid #bbb;
    width: 25%;
    margin-top: 30px;
}
.supportSect2{
    margin-top: 30px;
    color: grey;
}
.bottomSect2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#wcf{
    width: 50px;
    margin-top: 30px;
}
#duaCat{
    margin-top: 40px;
    width: 300px;
    z-index:-1;
    
}

.eclipseLeft2{
    z-index: -1;
    position: absolute; 
    margin-top: -600px;
}
.eclipseRight{
    z-index: -1;
    position: absolute;
    right: 0; 
    margin-top: -600px;
}

.section3{
    background-color: #fafafa;
    margin-top: -50px;
    height: 600px;
}
.ourServ{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    font-size: 35px;
    font-weight: bold;
}
#our{
    margin-right: 10px;
}
#serv{
    color: #785151;
}
.descSect3{
    margin-top: -15px;
    margin-left: 30%;
    margin-right: 30%;
    font-weight: 300;
    color: grey;
    text-align: center;
}
.cardSect3{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    z-index: 1;
    position: relative;
}
.card1{
    background-color: white;
    width: 180px;
    height: 220px;
    border-radius: 15px;
    text-align: center;
    margin-left: 20%;
}
.imgCard{
    margin-top: 30px;
}
.textCard{ 
    width: 80%;
    text-align: center;
    margin-left: 10%;
}
#titleCard1{
    font-weight: bold;
}
#descCard1{
    font-weight: 300;
    font-size: 10px;
    color: grey;
}
.card2{
    background-color: #775c5d;
    width: 180px;
    height: 220px;
    border-radius: 15px;
    text-align: center;
}
#titleCard2{
    font-weight: bold;
    color: white;
}
#descCard2{
    font-weight: 300;
    font-size: 10px;
    color: white;
}
.card3{
    background-color: white;
    width: 180px;
    height: 220px;
    border-radius: 15px;
    text-align: center;
}
.card4{
    background-color: white;
    width: 180px;
    height: 220px;
    border-radius: 15px;
    text-align: center;
    margin-right: 20%;
}
#kucing2{
    z-index: 0;
    position: absolute;
    right: 0; 
    margin-top: -550px;
}

.section4{
    position: relative;
    z-index: 1;
    background-color: #f4f4f4;
    width: 100%;
    height: 850px;
    padding-top: 80px;
}
.topSection4{   
    position: relative;
    margin-top: 80px;
    margin-left: 80px;
    margin-right: 80px;
}
.buttonPrevNext{
    position: absolute;
    right: 0;
    margin-top: -50px;
    
}
#articles{
    font-weight: bold;
    font-size: 35px;
    margin: 0;
}
.descSect4{
    margin-top: 12px;
    font-weight: 300;
    color: grey;
    font-size: 20px;
}
hr.solidSect4{
    margin-right: 140vh;
    margin-top: 15px;
}
#prev{
    background-color: #f1f0f0;
    border: none;
    padding: 10px;
    margin-right: 10px;
}
#next{
    background-color: #846161;
    border: none;
    padding: 10px;
}
#prevNextImg{
    width: 25px;
    vertical-align: middle;
}
.cardSect4{
    display: flex;
    margin-top: 40px;
    justify-content: center;
}
.card1S4{
    background-color: white;
    width: 380px;
    height: 470px;
    border-radius: 15px;
    margin-left: 30px;
    margin-right: 30px;
}
.imgcard1S4{
    margin: 20px;
    width: 90%;
}
#imgcard1S4{
    width: 100%;
}
.textcard1S4{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
}
#titlecard1S4{
    font-size: 25px;
    margin: 0;
}
#desccard1S4{
    font-weight: 300;
    color: grey;
    font-size: 15px;
}
hr.solidSect4_2 {
    border-top: 1px solid lightgray;
    width: 85%;
    margin-top: 5px;
}
.genreCard{
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    height: 30px;
}
#buttonGenre{
    margin: 0;
    border: none;
    height: 30px;
    background-color: #f0f0f0;
    border-radius: 5px;
}
#textGenre{
    margin: 0;
    color: #7a5454;
}

.section5{
    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;
    z-index: 2;
    background-color: #efefef;
}
.leftSect5{
    height: 650px;
}
#imgSec5{
    margin-top: -275px;
}
.txtSect5{
    margin-top: 150px;
    margin-left: 20px;
    margin-right: 50px;
}
#record{
    font-weight: bold;
    font-size: 35px;
    margin: 0;
}
.growthText{
    display: flex;
    font-size: 35px;
    font-weight: bold;
}
#growth{
    margin: 0;
}
#furry{
    margin: 0;
    margin-left: 10px;
    color: #785151;
}
hr.solidSect5 {
    border-top: 1px solid #bbb;
    margin-right: 70%;
    margin-top: 20px;
}
.descSect5{
    margin-top: 20px;
    margin-right: 150px;
    font-weight: 300;
    color: grey;
}
#freeApp{
    color: #785151;
    font-weight: 400;
    margin-top: 30px;
}
#appStore{
    width: 125px;
}
#playStore{
    width: 125px;
}

footer{
    background-color: #262525;
    width: 100%;
    height: 430px;
}
.container{
    display: grid;
    grid-template-columns: 60% 20% 20%;
}
.leftFooter{
    margin-top: 70px;
    margin-left: 80px;
}
#logoFooter{
    width: 80px;
}
#txtLogoFooter{
    margin-top: 15px;
    width: 225px;
}
.descFooter{
    margin-top: 25px;
    margin-right: 60%;
    color: white;
    font-weight: 200;
    font-size: small;
}
.iconFooter{
    margin-top: 25px;
    margin-left: -10px;
}
.iconFooter img{
    margin-left: 10px;
}
.middleFooter{
    margin-top: 70px;
}
.linksnOther{
    color: white;
    list-style: none;
    margin-top: 50px;
}
.linksnOther b{
    font-size: 20px;
}
.deriv{
    margin-top: 15px;
    font-weight: 100;
    font-size: 15px;
    color: lightgray;
}
.deriv li{
    margin-top: 7px;
}
.rightFooter{
    margin-top: 70px;
}
.solidFooter{
    border-top: 0.1px solid;
    margin-top: 30px;
    width: 90%;
    height: 100;
}
.bottom-bar{
    margin-top: 40px;
    color: white;
    font-weight: 100;
    text-align: center;
    font-size: 15px;
}